@import "tailwindcss";

@font-face {
  font-family: 'Aptos';
  src: local('Aptos'), local('Aptos Regular'), local('Aptos-Regular'),
       url('https://db.onlinewebfonts.com/t/6fb4fa0627f4fe6fa5b2fd467817dd68.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aptos';
  src: local('Aptos Bold'), local('Aptos-Bold'),
       url('https://db.onlinewebfonts.com/t/0de2ab6552a48eb433c2a63fac886735.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aptos';
  src: local('Aptos ExtraBold'), local('Aptos-ExtraBold'), local('Aptos Black'), local('Aptos-Black'),
       url('https://db.onlinewebfonts.com/t/2db6080fb0089e023fd5ec572cf93e8a.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-brand-purple: #5E2B97;
  --color-brand-orange: #FF7A00;
  --color-brand-bg: #F9F9F9;
  
  --background-image-brand-gradient: linear-gradient(to right, #5E2B97, #FF7A00);
  
  --font-aptos: "Aptos", sans-serif;
}
